.section-para {
  width: 100%;
  height: auto;
  padding: 50px 0px 0px 0px;
}

.para {
  width: 100%;
  height: auto;
}

.parallax-container {
  background: url("../../../../public/assets/img/scroll-1.jpg") repeat fixed
    100%;
  background-size: cover;
  color: aliceblue;
}

.parallax-content {
  padding-top: 10%;
  padding-bottom: 10%;
}

.text-orange {
  color: #ff8c00eb;
  font-size: 55px;
  margin-left: 20px;
}

.counter {
  font-size: 64px;
  font-weight: 400;
}

.counter-creative-title {
  font-size: 20px;
  font-weight: 400;
}

.symbol {
  font-size: 64px;
  font-weight: 400;
}
