.section-list-blog {
  padding: 100px 0px;
}

.blog-box {
  padding: 20px 0px;
  width: max-content;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s linear;
}

.blog-box .img-thumbnail-blog-box img {
  transition: all 0.2s linear;
}

.blog-box:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.blog-box:hover .img-thumbnail-blog-box img {
  transform: scale(1.2);
}

.img-thumbnail-blog-box {
  overflow: hidden;
}

.img-thumbnail-blog-box img {
  width: 360px;
  height: 360px;
}

.img-thumbnail-user img {
  border-radius: 50%;
}

.user-up-box {
  padding: 0px 10px;
}

.name-blog-box {
  max-width: 360px;
  padding: 10px 0px;
  text-align: center;
}

.number-blog {
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: orange;
  color: white;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
}

.name-blog-box a {
  color: black;
  text-decoration: none;
}

.name-blog-box a:hover {
  color: orange;
}

.section-list-blog .swiper-wrapper {
  padding-top: 40px;
  padding-bottom: 100px;
  align-items: flex-end;
}
.section-list-blog .swiper-wrapper .swiper-slide {
  background-color: white;
}

.section-list-blog .swiper-pagination .swiper-pagination-bullet {
  width: 40px;
  height: 40px;
  opacity: 1;
  color: black;
  font-size: 15px;
  padding-top: 8px;
  background-color: white;
  border: 1px solid orange;
}

.section-list-blog .swiper-pagination .swiper-pagination-bullet:hover {
  background-color: green;
  color: white;
}

.section-list-blog .swiper-pagination .swiper-pagination-bullet-active {
  background-color: orange;
  color: white;
}
