.narbar {
  height: max-content;
}

.i {
  font-size: 25px;
  color: black;
}

.i:hover {
  color: #dc143c;
}

.number {
  color: #dc143c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 7px 2px;
  gap: 10px;
  font-size: 12.5px;
  position: absolute;
  width: 15px;
  height: 17px;
  left: 22px;
  top: 0px;
  border: 1.5px solid #dc143c;
  border-radius: 10px;
}

.phone,
.address,
.user,
.select,
.cart,
.search {
  cursor: pointer;
}

.phone:hover,
.address:hover,
.user:hover,
.select:hover {
  color: #dc143c;
}

.rd-navbar-brand .icon {
  font-size: 30px;
  cursor: pointer;
}

.modal-menu .modal-dialog .modal-content .modal-body #nav-menu {
  display: flex;
  flex-direction: column !important;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}

.modal-menu .modal-dialog {
  margin-top: 0px !important;
  margin-left: -17px !important;
  height: 100%;
}

.modal-menu .modal-dialog .modal-content {
  height: 100%;
  width: 50%;
  border-radius: 0;
}
