.section-blog-detail {
  padding: 100px 0px;
}

.blog-post-left i:hover {
  color: orange;
}

.box-cmt-blog {
  padding: 20px 10px;
  border-bottom: 1px solid gray;
}

.i-quote {
  font-size: 50px;
  color: green;
}

.search-blog input {
  padding: 10px;
}

.img-recent-post img {
  width: 140px;
  height: 100px;
  border-radius: 15px;
}

.img-thumbnail-cmt-blog img {
  border-radius: 50%;
}

.blog-post-right .pr-search {
  padding: 0;
}

.categories-blog i {
  color: orange;
}

.categories-blog span:hover {
  color: orange;
  cursor: pointer;
}

.img-thumbnail-instagram img {
  width: 100px;
  height: 100px;
  border-radius: 15px;
}

.instagram img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.img-thumbnail-blog-post img {
  border-radius: 20px;
}

.recent-posts img:hover {
  opacity: 0.6;
  cursor: pointer;
}

.content-add-cmt form {
  width: 100%;
}
